@import "@styles/theme.scss";
page {
  background: #ffffff;
}
.RichTextBox {
  width: 100%;
  // background: $text-color;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #ffffff;
  &-content {
    font-size: 30px;
    color: #333;
  }
}
