@import "../../style/theme.scss";
.pages {
    background-color: #fff;
}
page {
  background-color: #fff;
}

.page {}

.titles {
    width: 90%;
    margin: 0 auto;
}

.titleInfo {
    text-align: center;
}

.header_pic {
    text-align: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    padding-top: 50px;
    image {
        width: 100%;
        height: 100%;
    }
}

.header_pic_logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 50px;
    image {
        width: 100%;
        height: 100%;
    }
}

.header_txt {
    text-align: center;
    height: 28px;
    font-size: 28px;
    font-weight: 500;
    color: rgba(39, 39, 39, 1);
    line-height: 28px;
    margin-top: 56px;
    text {
        color: #ff5f2f;
    }
}

.rule_txt {
    width: 100%;
    display: flex;
    height: 29px;
    margin-top: 40px;
    margin-bottom: 20px;
    .rule_radius {
        width: 14px;
        height: 14px;
        background: #ff5f2f;
        border-radius: 50%;
        margin-left: 36px;
        margin-top: 7px;
    }
    .rule_title {
        height: 29px;
        font-size: 31px;
        font-weight: 500;
        color: rgba(39, 39, 39, 1);
        line-height: 29px;
        margin-left: 15px;
        text {
            color: #ff5f2f;
        }
    }
}

.rule_content {
    width: 622px;
    // height: 63px;
    font-size: 26px;
    font-weight: 500;
    color: rgba(131, 131, 131, 1);
    line-height: 32px;
    margin: 0 auto;
    text {
        color: #ff5f2f;
    }
}
