.catering-detail {
  .catering-banner-box {
    height: 428px;
    .banner-item {
      width: 750px;
      height: 373px;
      padding: 30px 0 25px;
      .detail-image {
        width: 690px;
        height: 373px;
        margin: 0 30px;
        border-radius: 30px;
      }
    }
  }
  .cert-img {
    width: 690px;
    height: 381px;
    margin: 30px;
  }
}
