.hotel-item-box {
  width: 710px;
  height: 482px;
  background: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  .hotel-image {
    width: 710px;
    height: 352px;
  }
  .hotel-address {
    width: 314px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 22px;
    background: #000000;
    border-radius: 20px;
    opacity: 0.5;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .hotel-name {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    line-height: 40px;
    margin: 20px 15px 10px;
  }
  .hotel-level {
    height: 36px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #FF6833;
  }
}
