@import "@styles/theme.scss";
.yearPicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  &-title {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
  }
  &-image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
.DatepickerRn_list {
  width: 644px;
  margin: 0 auto;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include border(top, 2px, solid, #f5f5f5);
  background: #fff;
}
.DatepickerRn_list_l {
  color: #000000;
  font-size: 30px;
}
.DatepickerRn_list_r {
  flex-direction: row;
  align-items: center;
}
.DatepickerRn_list_r_txt {
  color: #000000;
  font-size: 30px;
}
.DatepickerRn_list_r_txts {
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #a2a2a2;
  opacity: 1;
}
.DatepickerRn_boxHeader {
  width: 100%;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.DatepickerRn_boxTitle {
  flex: 3;
  color: #333;
  font-size: 30px;
  text-align: center;
}
.DatepickerRn_boxBtn {
  flex: 1;
  font-size: 30px;
}
