.guide-box {
  width: 342px;
  height: 161px;
  background: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 37px 40px;
  .guide-title {
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    line-height: 48px;
  }
  .guide-desc {
    font-size: 28px;
    font-weight: 400;
    color: #777777;
    line-height: 40px;
  }
  .guide-icon {
    font-size: 80px;
    margin-left: 28px;
  }
}
