.search-guide {
  width: 710px;
  height: 65px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 33px;
  position: absolute;
  top: 30px;
  left: 20px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 34px;
  z-index: 10;
}
