.signName{
  &-signBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    &-signNamePng {
      width: 200px;
      height: 140px;
    }
    &-modal {
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-top: 20px;
        background: #fff;
        // padding-bottom: 20px;
        &-reset {
        }
        &-save {
          margin-left: 20px;
          margin-right: 60px;
        }
      }
    }
  }
}
