@import "../../style/theme.scss";
.page {
}
.orders {
}
.noctive {
  width: 100%;
  height: 80px;
  background: #ffffff;
}
.noctive View {
  display: flex;
}

.fault_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 140px;
  // line-height: 100px;
  // font-size: 28px;
  // font-family: Microsoft YaHei;
  // font-weight: 400;
  align-items: center;
  .fault_item {
    font-size: 30px;
    color: rgba(148, 148, 148, 1);
    font-family: Microsoft YaHei;
    font-weight: 400;
    position: relative;
    width: 180px;
    height: 60px;
    opacity: 1;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
  }
  .fault_item_wp {
    height: 80px;
    font-size: 30px;
    color: rgba(34, 34, 34, 1);
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 80px;
    position: relative;
  }
  .onActive {
    background: #ffdc00;
    font-weight: bold;
    color: #000000;
  }
  .myTask_br {
    width: 100%;
    height: 5px;
    background: $theme-color;
    border-radius: 3px;
    position: absolute;
  }
}

.serial {
  width: 100%;
  .serial_item {
    width: 90%;
    margin: 0 auto;
  }
  .serial_wp {
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  .order_ser {
    width: 88%;
    margin: 0 auto;
  }
  .vehicle {
    display: flex;
    height: 92px;
    line-height: 92px;
    justify-content: space-between;
    .render_l {
      display: flex;
      align-items: center;
      .render_icon {
        width: 44px;
        height: 44px;
      }
    }
    .vehicle_item {
      width: 400px;
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: bold;
      color: #131313;
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 20px;
    }
    .states {
      font-size: 22px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #6a6a6a;
      font-weight: bold;
    }
  }
  .scenic {
    .times {
      height: 45px;
      line-height: 45px;
      font-size: 26px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(58, 58, 58, 1);
    }
    .testBtn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .adresyuan {
    display: flex;
  }
  .yuan {
    width: 20px;
    height: 20px;
    background: rgba(60, 188, 163, 1);
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 18px;
  }
  .addres_item {
    // font-size: 28px;
    // font-family: PingFang SC;
    // font-weight: 500;
    // color: rgba(58, 58, 58, 1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    .addres_item_title {
      font-size: 26px;
      font-weight: 500;
      line-height: 36px;
      color: #131313;
      opacity: 1;
      display: flex;
      justify-content: space-between;
      width: 130px;
    }
    .addres_item_txt {
      width: 455px;
      height: 36px;
      font-size: 26px;
      font-family: PingFang SC;
      font-weight: bold;
      line-height: 36px;
      color: #000000;
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 10px;
    }
  }
  .money {
    font-size: 28px;
    font-family: PingFang SC;
    font-weight: 500;
    // font-family:PingFang SC;
    // font-weight:bold;
    // color:rgba(47,46,45,1);
    color: rgba(58, 58, 58, 1);
    margin-bottom: 10px;
  }
  .addres {
    display: flex;
    justify-content: space-between;
    height: 52px;
    margin-bottom: 20px;
  }
  .yuan_wp {
    width: 20px;
    height: 20px;
    background: $theme-color;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 18px;
  }
  .message {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 10px;
    .fodc {
      font-size: 28px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(58, 58, 58, 1);
      // margin-top: 10px;
    }
    .doces {
      font-size: 22px;
      font-family: PingFang SC;
      font-weight: 500;
      color: $theme-color;
      margin-top: 10px;
    }
  }
}
.dispose {
  float: right;
  width: 200px;
  height: 58px;
  line-height: 58px;
  background: #ffdc00;
  border-radius: 30px;
  font-size: 26px;
  font-family: PingFang SC;
  font-weight: 500;
  text-align: center;
  color: #131313;
  margin-bottom: 30px;
}

.buttonBtn {
  display: flex;
  flex-direction: row-reverse;
}
.znums {
  margin-right: 10px;
}
