.shop-in {
  .tag-item {
    width: 117px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: #AAAAAA;
    margin-left: 10px;
    &.tag-item-active {
      color: #FF6833;
      border-color: #FF6833;
    }
  }
  .example-image-box {
    width: 190px;
    height: 190px;
    border-radius: 22px;
    border: 1px solid #ECECEC;
    .example-image {
      width: 92px;
      height: 130px;
    }
    .example-image-tip {
      font-size: 28px;
      font-weight: 400;
      color: #FE5E10;
      line-height: 40px;
    }

  }
}
