@import "@styles/theme.scss";
.VisitorRecord {
  width: 710px;
  background: #ffffff;
  opacity: 1;
  border-radius: 16px;
  margin-bottom: 20px;
  &-top {
    width: 100%;
    background: #ffffff;
    opacity: 1;
    border-radius: 20px;
    &-header {
      width: 657px;
      height: 82px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      &-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        &-img {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          opacity: 1;
          margin-right: 16px;
        }
        &-title {
          font-size: 32px;
          font-family: PingFang SC;
          font-weight: bold;
          color: #14171a;
          opacity: 1;
        }
      }
      &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 26px;
        &-title {
          font-size: 26px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #EB5C20;
          opacity: 1;
        }
        &-raido {
          width: 8px;
          height: 8px;
          background: #EB5C20;
          border-radius: 8px;
          opacity: 1;
          margin-right: 10px;
        }
        &-color1{
          background: #EB5C20;
        }
        &-color2{
          background: #549EF8;
        }
        &-color3{
          background: #C7C7C7;
        }
        &-title1{
          color: #EB5C20;
        }
        &-title2{
          color: #549EF8;
        }
        &-title3{
          color: #C7C7C7;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 657px;
      font-size: 26px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #969799;
      opacity: 1;
      margin: 0 auto;
      margin-top: 10px;
    }
    &-btnBox {
      width: 657px;
      margin: 0 auto;
      height: 104px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-top: 32px;
      @include border(top, 2px, solid, #f2f2f2f2);
      &-btn {
        @include border(top bottom left right, 2px, solid, #969799);
        width: 166px;
        height: 60px;
        background: #ffffff;
        opacity: 1;
        border-radius: 30px;
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: normal;
        line-height: 60px;
        color: #969799;
        opacity: 1;
        text-align: center;
      }
      &-btnDel{
        margin-right: 20px;
      }
      &-btnAgain{
        @include border(top bottom left right, 2px, solid, #EB5C20);
        color: #EB5C20;
      }
    }
  }
}
