.uploadImage_Item2 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.icon_del {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
