@import "@styles/theme.scss";
.IndexList {
  width: 710px;
  height: 236px;
  background: #ffffff;
  opacity: 1;
  border-radius: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &-img {
    width: 212px;
    height: 212px;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    border-radius: 16px;
    margin-left: 12px;
  }
  &-right {
    margin-left: 32px;
    &-title {
      width: 410px;
      font-size: 28px;
      font-family: PingFang SC;
      font-weight: bold;
      color: #333333;
      opacity: 1;
      &-text{
        width: 410px;
        font-size: 28px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
        opacity: 1;
      }
    }
    &-content {
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #747474;
      opacity: 1;
      margin-top: 5px;

    }
    &-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      &-item {
        height: 34px;
        background: #f5f5f5;
        opacity: 1;
        border-radius: 8px;
        font-size: 18px;
        font-family: PingFang SC;
        font-weight: 400;
        line-height: 34px;
        color: #999999;
        opacity: 1;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
      }
    }
    &-price {
      font-size: 36px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #5F411B;
      opacity: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-top: 20px;
      &-size {
        font-size: 20px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #5F411B;
        opacity: 1;
        margin-bottom: 5px;
      }
    }
  }
}
